name: Tests

on:
  push:
    branches: [master]
  pull_request:
  release:
  schedule:
    # Every Thursday at 1 AM
    - cron: '0 1 * * 4'

jobs:

  Tests:

    continue-on-error: ${{ matrix.optional || false }}
    runs-on: ${{ matrix.os || 'ubuntu-latest' }}
    container: ${{ !startsWith(matrix.os, 'windows') && (matrix.container || format('python:{0}', matrix.python-version)) || null }}
    name: ${{ matrix.label || matrix.python-version }} ${{ startsWith(matrix.os, 'windows') && '(Windows)' || '' }} ${{ matrix.optional && '[OPTIONAL]' }}

    strategy:
      fail-fast: false
      matrix:
        python-version:  ['3.7', '3.8', '3.9', '3.10', '3.11', '3.12']
        test_quick: [1]

        include:
          # exceptions .. first, to run "full tests for 3.13 and 3.14 (slower)
          - python-version: '3.13'
            test_keyboard: 1
            test_raw: 1
            test_quick: 0

          - python-version: '3.14'
            test_keyboard: 1
            test_raw: 1
            test_quick: 0

          # then, to run docformatter, only, on 3.13, https://github.com/PyCQA/docformatter/issues/327
          - python-version: '3.13'
            label: docformatter
            toxenv: docformatter_check
            os-deps:
              - enchant-2

          # all other linting tools in 3.14,
          - python-version: '3.14'
            label: Linting
            toxenv: flake8,flake8_tests,isort_check,mypy,sphinx,pydocstyle,pylint,pylint_tests,codespell

          # windows testing,
          - python-version: '3.14'
            os: windows-latest
            test_quick: 0

          # python release candidate testing
          - python-version: '3.15'
            container: 'python:3.15-rc'
            test_quick: 0

    env:
      TOXENV: ${{ matrix.toxenv || format('py{0}', matrix.python-version) }}
      TEST_QUICK: ${{ matrix.test_quick || 0 }}
      TEST_KEYBOARD: ${{ matrix.test_keyboard || 0 }}
      TEST_RAW: ${{ matrix.test_raw || 0 }}
      TOXPYTHON: python${{ matrix.toxpython || matrix.python-version }}

    steps:

      - name: Install OS Dependencies
        run: apt update && apt -y install ${{ join(matrix.os-deps, ' ') }}
        if: ${{ matrix.os-deps }}

      - uses: actions/checkout@v4

      - name: Install tox
        run: pip install tox

      - name: Collect terminal information
        run: tox -e about

      - name: Run tox
        run: tox

      - name: Upload to Codecov
        if: ${{ matrix.label != 'Linting' && matrix.label != 'docformatter' }}
        uses: codecov/codecov-action@v5
        with:
          verbose: true
          name: ${{ matrix.label || matrix.python-version }} ${{ startsWith(matrix.os, 'windows') && '(Windows)' || '' }}
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          os: ${{ startsWith(matrix.os, 'windows') && 'windows' || 'linux' }}
          env_vars: TOXENV,TEST_QUICK,TEST_KEYBOARD,TEST_RAW
